<section class="col-sm-11 mx-auto p-2">
    <h4>Statement</h4>

    <div class="border border-primary p-2">
        <div class="row border-bottom border-secondary">
            <div class="col-1 text-center"><strong>Txn#</strong></div>
            <div class="col-2 text-center"><strong>Date</strong></div>
            <div class="col text-center"><strong>Description</strong></div>
            <div class="col-2 text-center"><strong>Credit</strong></div>
            <div class="col-2 text-center"><strong>Debit</strong></div>
            <div class="col-2 text-center"><strong>Actions</strong></div>
        </div>
        <app-txn-form (addTxnEvent)="addTxn($event)"></app-txn-form>
        <app-txn-details *ngFor="let t of txns" [txn]="t" (delTxnEvent)="delTxn($event)"></app-txn-details>
        <app-statement-summary></app-statement-summary>
    </div>
</section>
