<div class="row border-top border-secondary">
    <div class="col text-end"><strong>Total</strong></div>
    <div class="col-2 text-end"><strong>{{creditAmount|currency:'INR'}}</strong></div>
    <div class="col-2 text-end"><strong>{{debitAmount|currency:'INR'}}</strong></div>
    <div class="col-2"></div>
</div>
<div class="row">
    <div class="col text-end"><strong>Balance</strong></div>
    <div class="col-2 text-end"><strong>{{(creditAmount-debitAmount)|currency:'INR'}}</strong></div>
    <div class="col-2"></div>
</div>
