<section class="col-sm-5 p-4 mx-auto">
    <form [formGroup]="ahForm" (ngSubmit)="formSubmitted()">
        <div class="form-group">
            <label>Full Name: </label>
            <input type="text" formControlName="fullName" class="form-control" />
        </div>
        <div class="form-group">
            <label>Email: </label>
            <input type="email" formControlName="emailId" class="form-control" />
        </div>
        <div class="d-grid">
            <button class="btn btn-primary" [disabled]="ahForm.invalid">
                SAVE
            </button>
        </div>
    </form>
</section>
